.DashBoardLayout a.link-active {
    color: green;
}

.DashBoardLayout a.link-inactive {
    color: rgb(229, 29, 29);
}

.DashBoardLayout ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    padding: 0px;       
    margin: 0px;
    background-color: rgb(233, 239, 191);
    margin-bottom: 10px;
    
}

.DashBoardLayout li{
    display: flex;
}

