.delete-button{
    background-color: crimson !important;
    color: white !important;
    margin-left: 20px;
}

.update-button{
    background-color: green !important;
     color: white !important;
}

.disable-button{
    background-color: rgb(69, 79, 55) !important;
     color: white !important;
}

.buttons-container{
    direction: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}