.App.light { 
  background-color: white; 
  color: black; 
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
} 

.App.light input{ 
  background-color: white; 
  color: black; 
} 

.App.light p{ 
  font-weight: bold; 
} 

.App.light input{ 
  background-color: white; 
  color: black; 
  border: 2px solid black; 
} 

.App.light input::placeholder{ 
  font-weight: bold; 
  color:black 
} 

.App.light button{ 
  background-color: black; 
  color: white; 
} 

.App.light hr{ 
  padding: 0;
  margin: 0;
}

.App.dark { 
  background-color: black; 
  color: white; 
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
} 

.App.dark input{ 
  background-color: black; 
  color: white; 
  border: 2px solid white; 
} 

.App.dark input::placeholder{ 
  font-weight: bold; 
  color:white 
} 

.App.dark p{ 
  font-weight: bold; 
} 

.App.dark button{ 
  background-color: white; 
  color: black; 
}

.App.dark hr{ 
  padding: 0;
  margin: 0;
}

.App h2 h3 h1 p{
  margin: 0px;
  padding: 0px;
}

.App pre{
  margin: 0px;
  padding: 0px;
}

.App li{
  margin: 5px auto;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}





